.akainu {
    margin-top: 200px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.aokiji {
    margin-bottom: 20px;
}

.kizaru {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mihark h5 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.goku {
    width: 100%;
    border-collapse: collapse;
}

.goku th, .goku td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.goku th {
    background-color: #000080;
    color: white;
}

.goku tr:hover {
    background-color: #f1f1f1;
}

.kaido {
    margin-top: 20px;
}

.bigmom {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bigmom h5 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.katakuri {
    list-style-type: none;
    padding: 0;
}

.katakuri li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.katakuri li:last-child {
    border-bottom: none;
}
.akainu{
    opacity: 0;
    transform: translateY(40px);
    animation: confi 0.5s forwards;
    animation-delay: 0.4s;
}
@keyframes confi {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
