<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Laravel01/Ls01/tests/Unit" />
        <option value="$PROJECT_DIR$/Laravel01/Ls01/tests/Feature" />
        <option value="$PROJECT_DIR$/Laravel01/tests/Unit" />
        <option value="$PROJECT_DIR$/Laravel01/tests/Feature" />
        <option value="$PROJECT_DIR$/Lesson02/tests/Unit" />
        <option value="$PROJECT_DIR$/Lesson02/tests/Feature" />
      </list>
    </option>
  </component>
</project>